#maincontent {
  min-height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

body {
  position: relative;
  background-image: url("images/bikeontrail.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  
}

article {
  width: 55%;
  color: black;
  float: middle;
  
  font-size: 25px;
  font-family: Arial, sans-serif;
  
  margin-bottom: 25px;
}

p {
  padding: 25px;
}