#maincontent {
  min-height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

body {
  position: relative;
  background-image: url("images/bikeontrail.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}

article {
  width: 55%;
  color: white;
  float: right;
  padding: 90px 40px 50px;
  font-size: 25px;
  font-family: Arial, sans-serif;
  background-color: rgba(0, 128, 255, 0.5);
  margin-bottom: 25px;
}

p {
  padding: 25px;
}