/*------newindex.css----*/


.svg-element path {
  fill: #B9D9EB; /* Color on hover */
}


#SC, #GA, #FL, #NC {
  fill: #72A0C1; /* Initial color */
  transition: fill 0.3s ease; /* Add a smooth transition effect */

  /* Add a pointer cursor to indicate it's clickable */
  cursor: pointer;
}

#SC:hover, #NC:hover, #GA:hover, #FL:hover {
	fill: #00308F; /* Color on hover */
}

.svg-element path:hover {
  fill: #B2FFFF; /* Color on hover */
}