/*------newindex.css----*/


.svg-element path {
  fill: #72A0C1; /* Initial color */
  transition: fill 0.3s ease; /* Add a smooth transition effect */

  /* Add a pointer cursor to indicate it's clickable */
  cursor: pointer;
  
}

.svg-container {
 
  width:95%;
  justify-content: center;
 float: right;
}



.svg-element path:hover {
  fill: #00308F; /* Color on hover */
}

/* CSS for the list */
    .list-container {
      display: flex;
      justify-content: space-between;
      margin-top: 10px;
    }

    .column {
      flex: 1;
    }